.jumbotron {
  background-image: url("../images/background.jpg");
  background-size: cover;
  background-attachment: fixed;
  min-height: 600px;
}

#part2{
  background-color: pink;
}

h1{
text-align: left;
 color: #a10a4b;
 font-size:30px;
 font-family: sans-serif;
}


h2{
text-align: center;
 font-size:30px;
 font-style: italic; bold;
 font-family: times;
}

h3{
text-align: center;
 color: #a10a4b;
 font-size:20px;
 font-style: very bold;
 font-family: arial;
}

.row:: after{
  content: "";
  clear: both;
  display: table;
}


ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: pink;
}

li{
  float: left;
}

a{
  display: block;
  padding: 8px;
  font-size:15px;
  font-style: bold;
  font-family: arial;
  font-color: black;
}

li a:hover{
  background-color: pink;
}

.active{
  background-color: #4CAF50;
}

div#container {
  background-color: white;
}

div.section {
  color: white;
  font-size: 32px;
  width: 33.333%;
  float: left;
}
