.jumbotron {
  background-image: url("../images/background3.jpeg");
  background-size: cover;
  background-attachment: fixed;
  min-height: 800px;
}

#part2{
  background-color: white;
}

h1{
text-align: center;
 color: #ffffff ;
 font-size:70px;
 font-family: 'Indie Flower'
}

h2{
text-align: center;
font-size: 30px;
font-family: 'Indie Flower'
color: #ffffff
}


h3{
text-align: center;
 color: #a10a4b;
 font-size:20px;
 font-style: very bold;
 font-family: arial;
}

.row:: after{
  content: "";
  clear: both;
  display: table;
}


ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li{
  float: left;
}

a{
  display: block;
  padding: 8px;
  font-size:15px;
  font-style: bold;
  font-family: arial;
  font-color: black;
}

li a:hover{
  font-family: 'Caveat'
}

.active{
  background-color: #4CAF50;
}

div#container {
  background-color: white;
}

div.section {
  color: white;
  font-size: 32px;
  width: 33.333%;
  float: left;
}
